<template>

    <main-layout>

        <modal-layout :is-activated="true" :title="$t('Transaction')" @close="close">

            <div class="form">
                <div class="inputs">
                    <div class="group input">
                        <input type="text" :placeholder="$t('Public address')" v-model="address">

                        <div class="more">
                            <div class="faq">
                                <div class="icon">
                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M1.25254 3.13422L0.590839 3.04285C0.449644 3.02339 0.352716 2.87619 0.379436 2.71884C0.465679 2.17994 0.710671 1.71295 1.11365 1.31872C1.58684 0.855956 2.20733 0.625 2.97665 0.625C3.78566 0.625 4.42981 0.85934 4.90758 1.32802C5.38611 1.7967 5.625 2.34237 5.625 2.96417C5.625 3.30849 5.53647 3.6342 5.36093 3.9413C5.18462 4.24924 4.80912 4.66716 4.2329 5.19592C3.93525 5.47001 3.74979 5.68997 3.67805 5.85664C3.6353 5.95393 3.60706 6.0969 3.5918 6.28555C3.57043 6.54781 3.37352 6.75 3.1354 6.75H2.76142C2.50041 6.75 2.29282 6.50974 2.3035 6.22125C2.31571 5.88454 2.36455 5.54869 2.50498 5.24581C2.64236 4.94972 2.91635 4.6164 3.32848 4.2467C3.73986 3.877 3.98637 3.63505 4.06651 3.51999C4.19015 3.33895 4.25197 3.1393 4.25197 2.92103C4.25197 2.61732 4.14283 2.35844 3.92303 2.14187C3.70322 1.92614 3.40709 1.81785 3.03541 1.81785C2.6767 1.81785 2.37677 1.93122 2.13558 2.15625C1.96539 2.3153 1.83259 2.53356 1.73718 2.8102C1.66163 3.02932 1.46243 3.16298 1.25254 3.13422ZM2.75374 7.625H3.24626C3.59312 7.625 3.875 7.87866 3.875 8.19287V8.80713C3.875 9.1204 3.59312 9.375 3.24626 9.375H2.75374C2.40689 9.375 2.125 9.1204 2.125 8.80713V8.19287C2.125 7.8796 2.40689 7.625 2.75374 7.625Z"
                                              fill="white"/>
                                    </svg>
                                </div>

                                <div class="tooltip" v-html="$t('The BGL address to send')"></div>
                            </div>
                        </div>
                    </div>

                    <div class="group input">
                        <input type="text" :placeholder="$t('Amount')" v-model="amount">

                        <div class="set-max" @click="setMax" v-if="maxAmount">
                            <div>
                                {{ $t('Set max') }}

                                <div class="tooltip">
                                    <span v-html="$t('Use available balance with<br>including commission:<br>')"/> {{
                                    maxAmount }} BGL
                                </div>
                            </div>
                        </div>

                        <div class="more">
                            <span>BGL</span>
                        </div>
                    </div>

                    <div class="group input">
                        <input type="text" :placeholder="$t('Fee')" v-model="fee">

                        <div class="real-fee" v-if="realFee">~ {{ realFee }} BGL</div>

                        <div class="more">
                            <div class="faq">
                                <span>satoshi/vByte</span>

                                <div class="tooltip"
                                     v-html="$t('Commission per byte.<br>You can use custom, but<br>if you put a small commission,<br>the transaction will take<br>a very long time to confirm')"></div>
                            </div>
                        </div>
                    </div>

                    <div class="group input" v-if="useChange">
                        <input type="text" :placeholder="$t('Change address')" v-model="change">
                    </div>
                </div>

                <div class="group checkbox" style="padding-top: 20px;">
                    <label>
                        <input type="checkbox" v-model="useChange">
                        <span class="check"/>

                        <i>{{ $t('Set change address') }}</i>
                    </label>
                </div>

                <div class="line"></div>

                <div class="button" @click="submit">{{ $t('Send') }}</div>
            </div>

        </modal-layout>

    </main-layout>

</template>

<script>
    import MainLayout from '../Layout/MainLayout'
    import ModalLayout from '../Layout/ModalLayout'

    import TransactionsService from '../../services/TransactionsService'

    import {ERROR_NAMES} from '../../services/Errors'

    export default {
        name: 'Send',

        data() {
            return {
                address: '',
                amount: '',
                fee: '2',
                message: '',
                change: '',
                useChange: false,

                error: true
            }
        },

        watch: {
            useChange() {
                if (!this.useChange) {
                    this.change = '';
                }
            }
        },

        methods: {
            close() {
                this.$root.openRoute({
                    back: true,
                    confirm: false
                })
            },

            setMax() {
                this.amount = this.maxAmount
            },

            //////////////////////////////

            validation() {
                if (this.address === '' || this.amount === '' || this.fee === '' || Number(this.amount) <= 0) {
                    this.message = this.$t('All fields are required')

                    this.error = true

                    return
                }
                if (!TransactionsService.validateAddress(this.address)) {
                    this.message = this.$t('Invalid address')

                    this.error = true

                    return
                }

                if (this.useChange && !this.change.length) {
                    this.message = this.$t('Change address is empty')

                    this.error = true

                    return
                }

                if ((this.change.length && !TransactionsService.validateAddress(this.change)) || this.change === this.address) {
                    this.message = this.$t('Invalid change address')

                    this.error = true

                    return
                }

                try {
                    TransactionsService.getUtxoForCommission(
                        this.address, this.amount, this.fee, this.$store
                    )

                    this.message = ''

                    this.error = false
                } catch (e) {
                    if (e.name === ERROR_NAMES.InsufficientFoundsError) {
                        this.message = this.$t('Insufficient funds or funds not yet confirmed')

                        this.error = true

                        return
                    }

                    if (e.name === ERROR_NAMES.InvalidSendAddressError) {
                        this.message = this.$t('Invalid address')

                        this.error = true

                        return
                    }

                    this.error = true

                    throw e
                }
            },

            async submit() {
                this.validation()

                if (!this.error) {
                    if (confirm('Are you sure you want to send?')) {
                        let info = TransactionsService.getUtxoForCommission(
                            this.address, this.amount, this.fee, this.$store
                        )

                        this.$root.preloader.isActivated = true

                        try {
                            await TransactionsService.send(
                                this.address,
                                this.amount,
                                this.$t('Change'),
                                info.fee,
                                info.utxo,
                                this.fee,
                                this.$store,
                                this.change
                            )

                            await this.$root.loadTransactionsInfo()

                            this.$router.push('/main')

                            this.$addNotification(this.$t('Transaction sent'))
                        } catch (e) {
                            this.$addNotification(this.$t('Transaction not sent'))
                        }

                        this.$root.preloader.isActivated = false
                    }
                } else {
                    this.$addNotification(this.message)
                }
            }
        },

        computed: {
            maxAmount() {
                let utxo = this.$store.getters['Balance/utxo']

                if (utxo.length) {
                    return TransactionsService.getMaxAmount(utxo, this.fee, this.$store)
                } else {
                    return 0
                }
            },

            realFee() {
                if (!this.$store.getters['Balance/utxo'].length) {
                    return null
                }

                if (!Number(this.amount)) {
                    return null
                }

                try {
                    let answer = TransactionsService.getUtxoForCommission(
                        this.address,
                        this.amount,
                        this.fee,
                        this.$store,
                        true
                    )

                    return answer.fee
                } catch (e) {
                    return null
                }
            },
        },

        async mounted() {
            this.$root.preloader.isActivated = true
            await this.$store.dispatch('Balance/loadMinInfo')

            this.fee = this.$store.state.Balance.defaultFeeVbyte
            this.$root.preloader.isActivated = false
        },

        components: {MainLayout, ModalLayout}
    }
</script>
