// Montserrat

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Regular/font.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Medium/font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// IBM Plex Sans

@font-face {
    font-family: 'IBMPlexSans';
    src: url('../fonts/IBMPlexSans/Medium/font.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
