@import 'utils/fonts';

html {
    width: 100%;
    overflow: hidden;
}

body {
    background: #262626;
    font: 500 14px Montserrat;
    color: #fff;
    scroll-behavior: smooth;

    > .wrap {
        position: relative;
        height: inherit;

        &::before {
            //content: '';
            //position: absolute;
            //top: 0;
            //left: 0;
            //width: calc(100% - 108px);
            //height: 33px;
            //background: transparent;
            //z-index: 9;
            //-webkit-app-region: drag;
        }
    }
}

html, body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.logo {
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #65DEDE;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        path {
            stroke: #029E9E;
            stroke-width: 1.5px;
        }
    }
}

.setup {
    height: inherit;

    > div:first-child {
        display: flex;
        height: 100vh;

        > .left {
            position: relative;
            min-width: 264px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #17161C;

            .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(70, 70, 70, 0.2);
                margin: 0;
                z-index: 0;

                &::before {
                    content: '';
                    position: inherit;
                    top: inherit;
                    left: inherit;
                    width: inherit;
                    height: inherit;
                    background: url('../images/backgrounds/setup-left-texture.png') no-repeat top left;
                    background-size: cover;
                }

                &::after {
                    content: '';
                    position: inherit;
                    top: inherit;
                    left: inherit;
                    width: inherit;
                    height: inherit;
                    background: url('../images/backgrounds/setup-left.png') no-repeat top left;
                    background-size: cover;
                    animation: zoom 70s ease-in-out infinite;
                }
            }

            > div {
                position: relative;
                margin: 25px 22px 0 22px;

                .title {
                    margin-top: 19px;

                    h2 {
                        font: normal 36px IBMPlexSans;
                        margin-left: -3px;
                    }

                    p {
                        color: rgba(255, 255, 255, 0.6);
                        margin-top: 9px;
                    }
                }
            }
        }

        > .right {
            position: relative;
            background: #262626 url('../images/backgrounds/setup-texture.png') no-repeat left bottom;
            width: 100%;
            overflow: scroll;
            padding: 0 0 70px 0;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
                width: 100%;
                height: 350px;
                z-index: 0;
            }

            //&::after {
            //    content: '';
            //    position: fixed;
            //    left: 0;
            //    bottom: 0;
            //    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);;
            //    width: 100%;
            //    height: 120px;
            //    z-index: 1;
            //}

            .content {
                position: relative;
                z-index: 1;
                margin: 73px 50px 40px 50px;

                .title {
                    font: normal normal 26px/100% IBMPlexSans;
                    text-transform: uppercase;
                }

                .text {
                    line-height: 180%;
                    color: rgba(255, 255, 255, 0.8);
                    margin-top: 33px;
                    font-weight: normal;
                }

                .line {
                    background: rgba(255, 255, 255, 0.1);
                    width: 100%;
                    height: 1px;
                    margin: 25px 0 26px 0;
                }
            }

            .version {
                bottom: 79px;
            }
        }
    }
}

.main {
    height: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #17161C;

    > div {
        position: relative;
        z-index: 2;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(70, 70, 70, 0.2);
        margin: 0;
        z-index: 0;

        &::before {
            content: '';
            position: inherit;
            top: inherit;
            left: inherit;
            width: inherit;
            height: inherit;
            background: url('../images/backgrounds/main-texture.png') no-repeat top left;
            background-size: cover;
        }

        &::after {
            content: '';
            position: inherit;
            top: inherit;
            left: inherit;
            width: inherit;
            height: inherit;
            background: url('../images/backgrounds/main.png') no-repeat top left;
            background-size: cover;
            animation: zoom 70s ease-in-out infinite;
        }
    }

    .header {
        display: flex;
        padding: 23px 22px 0 22px;

        .logo {
            width: 50px;
            height: 50px;
            margin-right: 22px;

            &.is-online {
                animation: pulse 2s infinite;
            }

            svg {
                position: relative;
                left: 1px;
                width: 30px;

                path {
                    stroke-width: 2px;
                }
            }
        }

        .title {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            margin-bottom: 5px;
        }

        span.big,
        span.current-currency {
            font: 500 20px IBMPlexSans;
            color: rgba(255, 255, 255, 0.9);
        }

        .amount,
        .default {
            margin-top: 3px;
        }

        .amount {
            .total {
                &.faq {
                    cursor: help;
                }

                span.current-currency {
                    color: rgba(255, 255, 255, 0.4);
                    margin-left: 9px;
                }

                > div:first-child {
                    position: relative;

                    .tooltip {
                        top: 100%;
                        left: 0;
                        margin: 10px 0 0 0;
                    }
                }

                &:hover {
                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

        .line {
            width: 1px;
            height: 50px;
            background: rgba(255, 255, 255, 0.1);
            margin: 0 29px 0 30px;
        }

        .default {
            .change-wallet {
                position: relative;
                top: 1px;
                left: 10px;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    svg path {
                        fill: rgba(255, 255, 255, 0.4);
                    }
                }

                svg path {
                    fill: rgba(255, 255, 255, 0.15);
                }
            }
        }
    }

    > div:last-child {
        display: flex;
        flex-direction: column;
        height: inherit;
        z-index: 1;

        .header {
            height: 205px;
            min-height: 205px;
            flex: 1 0 auto;
        }

        .content {
            position: relative;
            height: calc(100% - 205px);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            > div:first-child {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .c {
                background: #262626 url('../images/backgrounds/setup-texture.png') no-repeat top left;
                display: flex;
                flex-direction: column;
                height: 100%;
                margin: 0 10px;
                overflow: hidden;

                .nothing-found {
                    color: rgba(255, 255, 255, 0.6);
                    margin: 30px;
                }

                .table {
                    height: 100%;
                    margin: 0 30px;
                    display: flex;
                    flex-direction: column;

                    &.history {
                        .thead > div,
                        .tbody > div > div {
                            &:nth-child(1) {
                                min-width: 90px;
                            }

                            &:nth-child(2) {
                                width: 100%;
                            }

                            &:nth-child(3) {
                                min-width: 160px;
                            }

                            &:nth-child(4) {
                                min-width: 160px;
                            }

                            &:nth-child(5) {
                                min-width: 80px;
                                text-align: right;
                            }
                        }
                    }

                    &.addresses {
                        .thead > div,
                        .tbody > div > div {
                            &:nth-child(1) {
                                min-width: 160px;
                            }

                            &:nth-child(2) {
                                width: 100%;
                            }
                        }
                    }

                    .thead {
                        display: flex;
                        padding: 32px 0 15px 0;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.1);

                        > div {
                            font-weight: 600;
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.9);
                        }
                    }

                    .tbody {
                        overflow-y: scroll;
                        height: calc(100% - (63px + 44px));


                        > div {
                            display: flex;
                            color: rgba(255, 255, 255, 0.6);
                            padding: 19px 0 37px 0;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                            > div.date {
                                position: relative;
                                cursor: help;

                                &:hover {
                                    .tooltip {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }

                                .tooltip {
                                    top: 0;
                                    left: 0;
                                    margin: 25px 0 0 0;
                                }
                            }

                            .status {
                                display: flex;

                                > div {
                                    position: relative;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: rgba(255, 255, 255, 0.1);
                                    min-width: 24px;
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 10px;
                                    border-radius: 3px;
                                    cursor: help;
                                    transition: background .2s;

                                    .tooltip {
                                        top: 0;
                                        left: 100%;
                                        margin: -4px 0 0 15px;
                                    }

                                    &:hover {
                                        background: rgba(255, 255, 255, 0.15);

                                        .tooltip {
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }

                                    svg {
                                        position: relative;

                                        path {
                                            fill: rgba(255, 255, 255, 0.8);
                                        }
                                    }

                                    &.default {
                                        &::before {
                                            content: '';
                                            background: rgba(255, 255, 255, 0.8);
                                            display: inline-block;
                                            width: 8px;
                                            height: 2px;
                                            border-radius: 2px;
                                        }
                                    }

                                    &.canceled {
                                        svg {
                                            width: 9px;
                                            height: 9px;
                                        }
                                    }

                                    &.canceled,
                                    &.minus {
                                        background: rgba(251, 78, 84, 0.1);

                                        svg {
                                            path {
                                                fill: #FB4E54;
                                            }
                                        }

                                        &:hover {
                                            background: rgba(251, 78, 84, 0.15);
                                        }
                                    }

                                    &.plus {
                                        background: rgba(65, 189, 101, 0.1);

                                        svg {
                                            transform: rotate(180deg);

                                            path {
                                                fill: #41BD65;
                                            }
                                        }

                                        &:hover {
                                            background: rgba(65, 189, 101, 0.15);
                                        }
                                    }

                                    &.warning {
                                        background: rgba(228, 203, 152, 0.1);

                                        svg {
                                            path {
                                                fill: #E9BB63;
                                            }
                                        }

                                        &:hover {
                                            background: rgba(228, 203, 152, 0.15);
                                        }
                                    }

                                    &:last-child {
                                        margin: 0;
                                    }
                                }
                            }

                            .id {
                                > div {
                                    display: inline-block;
                                    vertical-align: top;

                                    &:first-child {
                                        display: inline-block;
                                        overflow: hidden;
                                        width: 320px;
                                        color: rgba(255, 255, 255, 0.9);
                                        text-overflow: ellipsis;
                                    }

                                    &.copy {
                                        margin-left: 10px;
                                    }
                                }
                            }

                            .sub {
                                font-size: 12px;
                                margin-top: 10px;
                            }

                            &:last-child {
                                border: none;
                            }
                        }

                        .button {
                            display: inline-block;
                        }
                    }
                }

                .search {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: 1;

                    > div {
                        position: relative;
                        height: 44px;
                        margin: 0 10px;

                        input[type="text"] {
                            width: 100%;
                            height: inherit;
                            background: #4C4C4C;
                            border: 0;
                            padding: 0 22px;
                            font-size: 13px;
                            font-weight: 500;
                            color: rgba(255, 255, 255, 0.4);
                            transition: background .2s;

                            &:focus {
                                background: #545454;
                            }
                        }

                        .icon {
                            position: absolute;
                            top: 16px;
                            right: 22px;

                            svg path {
                                fill: rgba(255, 255, 255, 0.3);
                            }
                        }
                    }
                }
            }

            .menu {
                position: relative;

                > div {
                    > div {
                        width: 25%;
                    }
                }
            }
        }
    }
}

.simple {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #17161C;;
    height: inherit;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(70, 70, 70, 0.2);
        margin: 0;
        z-index: 0;

        &::before {
            content: '';
            position: inherit;
            top: inherit;
            left: inherit;
            width: inherit;
            height: inherit;
            background: url('../images/backgrounds/simple-texture.png') no-repeat top left;
            background-size: cover;
        }

        &::after {
            content: '';
            position: inherit;
            top: inherit;
            left: inherit;
            width: inherit;
            height: inherit;
            background: url('../images/backgrounds/simple.png') no-repeat top left;
            background-size: cover;
            animation: zoom 70s ease-in-out infinite;
        }
    }

    .modal {
        .modal-content {
            .black {
                background: transparent;
            }
        }
    }
}

.copy {
    cursor: pointer;

    svg {
        path {
            fill: rgba(255, 255, 255, 0.3);
            transition: fill .2s;
        }
    }

    &:hover {
        svg path {
            fill: rgba(255, 255, 255, 0.5);
        }
    }
}

.form {
    .inputs {
        .group {
            margin-bottom: 2px;

            input[type="text"],
            input[type="password"] {
                border-radius: 0 !important;
            }

            &:first-child input[type="text"],
            &:first-child input[type="password"] {
                border-radius: 3px 3px 0 0 !important;
            }

            &:last-child input[type="text"],
            &:last-child input[type="password"] {
                border-radius: 0 0 3px 3px !important;
            }

        }

        .receive-addresses {
            width: 100%;
            margin: 5px 0;
            max-height: 200px;
            overflow: scroll;

            > div {
                display: flex;
                justify-content: space-between;
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                padding: 0 15px;

                span {
                    display: inline-block;
                    overflow: hidden;
                    width: 65%;
                    color: rgb(255 255 255 / 80%);
                    text-overflow: ellipsis;
                }

                .copy {

                }

                &:last-child {
                    border: 0;
                }
            }
        }
    }

    .group {
        position: relative;

        .more {
            position: absolute;
            top: 12px;
            left: 100%;
            margin-left: 30px;

            &.left {
                left: inherit;
                right: 100%;
                margin: 0 30px 0 0;

                .tooltip {
                    right: inherit !important;
                    left: 100%;
                    margin: -6px 0 0 10px !important;
                }
            }

            .faq {
                position: relative;
                z-index: 2;
                cursor: help;

                .tooltip {
                    top: 0;
                    right: 100%;
                    margin: -6px 10px 0 0;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    transition: background .2s;

                    svg {
                        path {
                            fill: #484848;
                        }
                    }
                }

                &:hover {
                    .icon {
                        background: #6AE8E8;
                    }

                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            span {
                font: 500 14px IBMPlexSans;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        .label {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            margin-bottom: 12px;
        }

        .message {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            margin-top: 18px;
        }

        .real-fee {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.9);
        }

        .set-max {
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -12px;

            > div:first-child {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(255, 255, 255, 0.9);
                border: 1px solid rgba(255, 255, 255, 0.1);
                font-size: 11px;
                border-radius: 3px;
                padding: 4px 6px;
                cursor: pointer;
                transition: background 0.1s;

                &:hover {
                    background: rgb(255 255 255 / 0.1);
                    border: 1px solid transparent;

                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .tooltip {
                top: 0;
                right: 100%;
                margin: -4px 10px 0 0;
            }
        }

        &.input {
            input[type="text"],
            input[type="password"] {
                width: 100%;
                height: 44px;
                background: #808080;
                border-radius: 3px;
                color: rgba(255, 255, 255, 0.8);
                font-weight: 500;
                padding: 0 15px;
                border: 0;
                transition: background .2s;

                &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.5);
                }

                &:focus {
                    background: #878787;
                }
            }

            .dropdown {
                position: relative;

                input[type="text"] {
                    &.is-focus {
                        &:focus {
                            border-radius: 3px 3px 0 0;

                            + .navs {
                                top: 100%;
                                visibility: visible;
                                opacity: 1;
                                background-color: #262626;
                                width: 100%;
                                margin-top: 2px;
                                border-radius: 0 0 3px 3px;
                                max-height: 140px;
                                overflow-x: scroll;
                            }
                        }
                    }
                }
            }
        }

        &.textarea {
            textarea {
                background: #808080;
                width: 100%;
                height: 80px;
                border: 0;
                border-radius: 3px;
                color: rgba(255, 255, 255, 0.8);
                font-weight: 500;
                padding: 10px 15px;
                resize: none;
                transition: background 0.2s;
                line-height: 180%;

                &::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.5);
                }

                &.disabled {
                    background: #525252;
                }

                &:focus {
                    background: #878787;
                }
            }
        }

        input[type="file"] {
            display: none;
        }

        .select {
            div {
                background: #525252;
                height: 44px;
                line-height: 44px;
                padding-left: 15px;
                margin-bottom: 2px;
                color: rgba(255, 255, 255, 0.8);
                cursor: pointer;
                transition: background .2s;

                &:hover {
                    background: #595959;
                }

                &.is-activated {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
                    color: #484848;
                }

                &:first-child {
                    border-radius: 3px 3px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 3px 3px;
                    margin: 0;
                }
            }
        }
    }
}

.checkbox {
    padding-top: 5px;

    label {
        display: block;
        position: relative;
        padding-left: 34px;
        cursor: pointer;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .check {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;

                &:after {
                    background: url('../images/icons/checked.svg');
                    display: block;
                    opacity: 1;
                }
            }
        }

        .check {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 50%;

            &:after {
                content: '';
                position: absolute;
                top: 6.3px;
                left: 5.3px;
                background: url('../images/icons/checked-white.svg');
                width: 9.8px;
                height: 7.8px;
                opacity: 0.4;
            }
        }

        i {
            position: relative;
            color: rgba(255, 255, 255, 0.8);
            font-style: normal;
            font-size: 13px;
        }
    }
}

.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;

    > div {
        display: flex;
        align-items: flex-end;
        margin: 0 10px;

        > div {
            position: relative;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #525252;
            width: 20%;
            height: 66px;
            margin-right: 2px;
            color: rgba(255, 255, 255, 0.9);
            cursor: pointer;
            transition: height .2s;

            &:hover {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #5C5C5C;
                color: #fff;
                height: 71px;
            }

            span {
                position: relative;
                top: 11px;
                left: 14px;
            }

            &.disabled {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #3b3b3b;
                cursor: not-allowed;
                color: rgba(255, 255, 255, 0.6);

                &:hover {
                    color: rgba(255, 255, 255, 0.6);
                    height: 66px;
                }
            }

            &.next {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
                color: #484848;

                &:hover {
                    background: #6AE8E8;
                    height: 71px;
                }
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            &.is-activated {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #696969;
                height: 71px;
                color: #fff;
                cursor: default;

                &::before {
                    content: '';
                    position: absolute;
                    background: #65DEDE;
                    bottom: 100%;
                    width: 100%;
                    height: 3px;
                }

                a {
                    display: none;
                }
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

.navigation {
    position: relative;
    z-index: 10;

    > div {
        position: absolute;
        top: 0;
        display: flex;

        &.right {
            right: 0;
        }

        &.left {
            left: 0;
        }

        > div {
            position: relative;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), rgba(255, 255, 255, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 24px;
            height: 24px;
            cursor: pointer;
            margin-right: 2px;
            transition: background .2s;

            &:last-child {
                margin: 0;
            }

            &.minimize,
            &.fullscreen,
            &.close {
                display: none;
            }

            &.language,
            &.synch {
                width: auto;
                min-width: 40px;
                font-size: 12px;
                padding: 0 10px;
            }

            &.synch {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;;
                color: #484848;

                &:hover {
                    background: #6AE8E8;
                }
            }

            &.language {
                color: rgba(255, 255, 255, 0.8);

                &:hover {
                    .navs {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .navs {
                    top: 0;
                    right: 0;
                    width: 100%;
                    background: #525252;
                    padding: 0;
                    max-height: 85px;
                    overflow: scroll;

                    > div {
                        padding: 0 10px;
                        height: 24px;
                        line-height: 24px;
                        text-transform: capitalize;

                        &.is-activated {
                            cursor: default;
                        }
                    }
                }
            }

            &.minimize {
                &::before {
                    content: '';
                    background: rgba(255, 255, 255, 0.8);
                    display: inline-block;
                    width: 8px;
                    height: 2px;
                    border-radius: 2px;
                }
            }

            &.close,
            &.faq {
                width: 24px;
            }

            &.back {
                width: 33px;
                height: 33px;
            }

            &.more {
                width: 28px;

                &:hover {
                    .navs {
                        top: 100%;
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .navs {
                    right: 0;
                }

                svg {
                    position: relative;
                    top: -3px;
                }
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            svg path {
                fill: rgba(255, 255, 255, 0.8);
            }

            &:hover {
                &.language {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), rgba(255, 255, 255, 0.05);
                }

                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.navs {
    position: absolute;
    width: 100px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), rgba(255, 255, 255, 0.05);
    padding: 3px 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;

    > div {
        position: relative;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.9);
        padding: 0 13px;
        cursor: pointer;

        &:hover,
        &.is-activated {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
            color: #484848;
        }

        &.is-activated {
            &:hover {
                background: #6AE8E8;
            }

            a {
                display: none;
            }
        }

        &.is-activated a {
            display: none;
        }
    }
}

.version {
    position: fixed;
    right: 15px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.2);
}

.button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #65DEDE;
    border-radius: 3px;
    color: #484848;
    height: 44px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    transition: background .2s;

    &:hover {
        background: #6AE8E8;
    }

    &.sm {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        padding: 0 11px;

        &.red {
            background: rgba(251, 78, 84, 0.1);
            color: #FB4E54;

            &:hover {
                background: rgba(251, 78, 84, 0.15);
            }
        }
    }
}

.preloader {
    background: rgba(41, 41, 41, 0.9);
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;

    &.is-activated {
        top: 0;
        visibility: visible;
        opacity: 1;
    }

    > div {
        position: relative;

        &:last-child {
            color: rgba(255, 255, 255, 0.6);
            margin-top: 20px;
        }
    }

    .logo {
        width: 100px;
        height: 100px;
        -webkit-animation: rotating 2.5s linear infinite;
        animation: pulse 2s infinite; // rotating 3s linear infinite
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.05);

        svg {
            position: relative;
            left: 1px;
            width: 100px;
            height: 66px;
        }
    }

    @keyframes rotating {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        }
        70% {
            -moz-box-shadow: 0 0 0 10px rgba(255, 255, 44, 0);
            box-shadow: 0 0 0 10px rgba(255, 255, 44, 0);
        }
        100% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 255, 44, 0);
            box-shadow: 0 0 0 0 rgba(255, 255, 44, 0);
        }
    }
}

.notifications {
    position: fixed;
    left: 22px;
    bottom: 22px;
    z-index: 9999;

    > div {
        position: relative;
        background: rgba(28, 28, 28, 0.9);
        max-width: 340px;
        font-size: 12px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.9);
        padding: 13px 0;
        margin-bottom: 10px;
        animation: notifications .6s;

        span {
            display: block;
            margin: 0 50px 0 17px;
            line-height: 170%;
        }

        .close {
            background: url('../images/icons/close-notification.png') no-repeat;
            position: absolute;
            top: 18px;
            right: 17px;
            width: 10px;
            height: 10px;
            cursor: pointer;
        }

        &:last-child {
            margin: 0;
        }

        @keyframes notifications {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}

.generated-seed {
    max-width: 85%;
    margin: 32px 0 -7px 0;

    > div {
        display: inline-block;
        height: 33px;
        line-height: 33px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 100%), #525252;
        border-radius: 3px;
        padding: 0 15px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.9);
        margin: 0 22px 22px 0;
    }
}

.modal {
    visibility: hidden;
    opacity: 0;

    &.is-activated {
        visibility: visible;
        opacity: 1;

        .modal-content {
            top: 0;
            transition: top .2s;
        }
    }

    .close {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 87px;
        height: 89px;
        cursor: pointer;
        z-index: 10;

        svg path {
            fill: rgba(255, 255, 255, 0.3);
            transition: fill .2s;
        }

        &:hover {
            svg path {
                fill: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .modal-content {
        .black {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(38, 38, 38, 0.95);
            width: 100%;
            height: 100%;
        }

        position: fixed;
        top: -100px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 8;

        > div:last-child {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 460px;
            max-width: 100%;
            margin: auto;
            padding: 30px 20px;
            box-sizing: content-box;

            .title {
                font: 500 24px IBMPlexSans;
                text-transform: uppercase;
                position: absolute;
                top: -25px;
            }

            .line {
                background: rgba(255, 255, 255, 0.1);
                width: 100%;
                height: 1px;
                margin: 30px 0 30px 0;
            }
        }
    }
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    background: rgba(28, 28, 28, 0.97);
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 180% !important;
    font-family: Montserrat !important;
    white-space: nowrap;
    border-radius: 3px;
    padding: 6px 15px;
    margin-top: 10px;
    z-index: 2;
    transition: opacity .2s;
}

::-webkit-scrollbar {
    display: none;
    background-color: transparent;
    width: 4px;
}

::-webkit-scrollbar-track {
    width: 4px;
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
