<template>

    <div class="main">

        <div class="bg"></div>

        <navigation :show-more="true" :show-language="true">
            <template #more>
                <div @click="changeWallet">{{ $t('Wallets') }}</div>

                <div :class="{ 'is-activated' : $route.path === '/main/change-password'}">
                    <router-link to="/main/change-password"></router-link>

                    {{ $t('Password') }}
                </div>

                <div :class="{ 'is-activated' : $route.path === '/main/get-seed'}">
                    <router-link to="/main/get-seed"></router-link>

                    {{ $t('Seed') }}
                </div>

                <div @click="dumpWallet">{{ $t('Dump') }}</div>
            </template>
        </navigation>

        <div>
            <div class="header">
                <div class="logo" :class="{ 'is-online' : $root.online }">
                    <svg width="51" height="61" viewBox="0 0 51 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M35.9946 25.2267C38.3271 23.1294 39.3684 20.2572 37.8938 16.3324C35.8863 10.9667 30.6286 10.3959 24.4752 11.4809L22.4269 3.84096L17.7684 5.08919L19.7605 12.5289C18.5348 12.8573 17.2918 13.2161 16.0547 13.5743L14.0474 6.08731L9.39305 7.33398L11.4389 14.9726C10.4357 15.2634 9.45037 15.5484 8.48313 15.8076L8.47708 15.785L2.05085 17.5041L3.38242 22.4701C3.38242 22.4701 6.80529 21.4837 6.76542 21.5616C8.65198 21.0575 9.56092 21.9862 9.99101 22.8828L12.3247 31.5863L15.6006 43.8124C15.6763 44.4271 15.5805 45.4674 14.2621 45.8226C14.3362 45.8592 10.8732 46.73 10.8732 46.73L11.4372 52.5309L17.4985 50.9068C18.6283 50.6055 19.7427 50.3257 20.8337 50.0427L22.9081 57.7683L27.5616 56.5228L25.5116 48.8774C26.7988 48.5605 28.0375 48.2407 29.244 47.9157L31.2818 55.526L35.9401 54.2778L33.8758 46.5632C41.5859 44.016 46.54 40.5774 45.254 33.052C44.2193 26.993 40.7258 25.1008 35.9946 25.2267ZM17.6309 19.0115C20.2582 18.3075 28.2972 15.2581 29.7668 20.7381C31.1735 25.9925 22.7488 27.592 20.1188 28.2967L17.6309 19.0115V19.0115ZM24.116 43.2226L21.3748 32.9842C24.5313 32.1375 34.1894 28.5785 35.8047 34.6017C37.3539 40.3779 27.2741 42.3739 24.116 43.2226Z"
                            fill="white"/>
                    </svg>
                </div>

                <div class="amount">
                    <div class="title">{{ $t('Current balance') }}</div>

                    <div class="total">
                        <span class="big">{{ balance | number }}</span>
                        <span class="current-currency">BGL</span>
                    </div>
                </div>

                <div class="line" v-if="$store.getters['Balance/balanceLocked']"></div>

                <div class="amount" v-if="$store.getters['Balance/balanceLocked']">
                    <div class="title">{{ $t('Wait confirmation') }}</div>

                    <div class="total faq">
                        <div>
                            <span class="big" style="color: #d0c386;">{{ $store.getters['Balance/balanceLocked'] | number }}</span>
                            <span class="current-currency" style="color: rgb(212 201 149 / 50%);">BGL</span>

                            <div class="tooltip" v-html="$t('This amount will become available<br>after confirming transactions')"></div>
                        </div>
                    </div>
                </div>

                <div class="line"></div>

                <div class="default">
                    <div class="title">{{ $t('Selected wallet') }}</div>

                    <span class="big">{{ $store.state.Wallet.walletName ? $store.state.Wallet.walletName : 'Error' }}</span>

                    <div class="change-wallet" style="display: none;">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M13.9562 6.22273C13.9341 6.02593 13.7046 5.87805 13.5062 5.87805C12.8647 5.87805 12.2954 5.50139 12.0567 4.91886C11.8128 4.32222 11.9701 3.6264 12.4481 3.18786C12.5986 3.05028 12.6169 2.81999 12.4907 2.66003C12.1624 2.2431 11.7892 1.86648 11.3817 1.54009C11.2222 1.41205 10.9881 1.42986 10.8497 1.58306C10.4325 2.04515 9.68298 2.21689 9.10382 1.97525C8.50113 1.72173 8.12107 1.11102 8.15826 0.455466C8.1705 0.249554 8.02001 0.0705198 7.81472 0.0466105C7.29182 -0.0138662 6.76434 -0.0157414 6.23989 0.0424432C6.03694 0.064842 5.88645 0.239657 5.89327 0.442964C5.91609 1.09206 5.53144 1.69209 4.93474 1.93649C4.36251 2.17022 3.61828 1.99994 3.20186 1.54196C3.06424 1.39111 2.83394 1.37257 2.6736 1.49753C2.25406 1.82669 1.87249 2.20361 1.54114 2.6171C1.4119 2.77785 1.43091 3.01085 1.58291 3.14915C2.07012 3.59036 2.22744 4.29222 1.97433 4.89573C1.73268 5.47112 1.13519 5.84195 0.451175 5.84195C0.229213 5.83482 0.0711157 5.98379 0.0468411 6.18559C-0.014731 6.71149 -0.0154602 7.24734 0.0438198 7.77752C0.0658024 7.97515 0.302245 8.12173 0.50285 8.12173C1.11242 8.10616 1.69767 8.48355 1.94318 9.08097C2.1879 9.67761 2.03059 10.373 1.55176 10.8119C1.402 10.9495 1.38299 11.1794 1.5092 11.3394C1.83446 11.7537 2.2077 12.1306 2.61662 12.4597C2.77701 12.589 3.01038 12.5707 3.14941 12.4176C3.56822 11.9543 4.31766 11.7829 4.89452 12.025C5.49873 12.2777 5.87879 12.8884 5.8416 13.5443C5.82946 13.7503 5.98068 13.9297 6.18514 13.9532C6.45263 13.9844 6.72173 14 6.99157 14C7.2477 14 7.50389 13.9859 7.76002 13.9574C7.96302 13.935 8.11341 13.7602 8.10658 13.5566C8.08309 12.9078 8.46841 12.3078 9.06434 12.0638C9.64042 11.8285 10.3815 12.0007 10.798 12.4582C10.9364 12.6088 11.1651 12.627 11.3263 12.5024C11.7451 12.174 12.1259 11.7974 12.4588 11.3828C12.588 11.2224 12.5697 10.989 12.4169 10.8508C11.9297 10.4096 11.7716 9.70761 12.0247 9.10451C12.2627 8.53678 12.838 8.15559 13.4568 8.15559L13.5434 8.15783C13.7441 8.17413 13.9287 8.01953 13.9531 7.81466C14.0147 7.28829 14.0155 6.7529 13.9562 6.22273ZM7.0111 9.3497C5.72351 9.3497 4.67616 8.30238 4.67616 7.01481C4.67616 5.7273 5.72351 4.67992 7.0111 4.67992C8.29865 4.67992 9.346 5.7273 9.346 7.01481C9.346 8.30238 8.29865 9.3497 7.0111 9.3497Z"
                                  fill="white"/>
                        </svg>
                    </div>
                </div>
            </div>

            <div class="content">
                <div>
                    <div class="menu">
                        <div>
                            <div :class="{ 'is-activated' : $route.path === '/main'}">
                                <router-link to="/main"></router-link>

                                <span>{{ $t('History') }}</span>
                            </div>

                            <div :class="{ 'is-activated' : $route.path === '/main/send'}">
                                <router-link to="/main/send"></router-link>

                                <span>{{ $t('Send') }}</span>
                            </div>

                            <div :class="{ 'is-activated' : $route.path === '/main/receive'}">
                                <router-link to="/main/receive"></router-link>

                                <span>{{ $t('Receive') }}</span>
                            </div>

                            <div :class="{ 'is-activated' : $route.path === '/main/address'}">
                                <router-link to="/main/address"></router-link>

                                <span>{{ $t('Addresses') }}</span>
                            </div>
                        </div>
                    </div>

                    <slot/>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
    import Navigation from '../Common/Navigation'

    import WalletService from '../../services/WalletService'

    import {ipcRenderer} from 'electron'

    export default {
        name: 'MainLayout',

        data() {
            return {
                idleTime: 0,

                waitConfirmation: {
                    status: true
                }
            }
        },

        watch: {
            idleTime() {
                if (this.idleTime > 300) {
                    let answer = this.$root.openRoute({
                        redirectPath: '/setup/access-to-wallet',
                        confirm: false
                    })

                    if (answer) {
                        this.$addNotification(this.$t('Enter your password to resume access'))
                    }
                }
            }
        },

        computed: {
            balance() {
                return this.$store.getters['Balance/balanceLocked'] + this.$store.getters['Balance/balance']
            }
        },

        methods: {
            changeWallet() {
                let answer = this.$root.openRoute({
                    redirectPath: '/setup/wallet',
                    message: this.$t('Exit wallet to select another?')
                })

                if (answer) {
                    this.$store.commit('Wallet/clear')

                    this.$addNotification(this.$t('Exit the wallet'))
                }
            },

            dumpWallet() {
                WalletService.download(this.$store)

                this.$addNotification(this.$t('Dump wallet'))
            }
        },

        mounted() {
            setInterval(() => {
                this.idleTime = ipcRenderer.sendSync('idle-time')
            }, 1000)
        },

        components: {Navigation}
    }
</script>
