<template>

    <div class="modal" :class="{ 'is-activated' : isActivated }">
        <div class="close" @click="close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8.66388 7.00003L13.6554 2.00851C14.1149 1.54904 14.1149 0.804082 13.6554 0.344672C13.1959 -0.114803 12.451 -0.114803 11.9916 0.344672L6.99998 5.33626L2.00839 0.344607C1.54892 -0.114869 0.804032 -0.114869 0.344557 0.344607C-0.114852 0.804082 -0.114852 1.54904 0.344557 2.00845L5.33614 6.99997L0.344557 11.9916C-0.114852 12.451 -0.114852 13.196 0.344557 13.6554C0.804032 14.1149 1.54892 14.1149 2.00839 13.6554L6.99998 8.66381L11.9916 13.6554C12.451 14.1149 13.1959 14.1149 13.6554 13.6554C14.1149 13.1959 14.1149 12.451 13.6554 11.9916L8.66388 7.00003Z"
                      fill="white"/>
            </svg>
        </div>

        <div class="modal-content">
            <div class="black" @click="close"></div>

            <div :style="modalWidth ? ('width: ' + modalWidth + 'px') : ''">
                <div class="title">{{ title }}</div>

                <slot/>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'ModalLayout',

        props: {
            isActivated: {
                type: Boolean,
                default: false
            },

            modalWidth: {
                type: String
            },

            title: {
                type: String,
                required: true
            }
        },

        methods: {
            keyMonitor(e) {
                if (this._inactive) {
                    return
                }

                if (e.keyCode === 27) {
                    this.close()
                }
            },

            //////////////////////////////

            close() {
                this.$emit('close')
            }
        },

        mounted() {
            window.addEventListener('keyup', this.keyMonitor)
        }
    }
</script>
