<template>

    <div class="setup">

        <div>
            <div class="left">
                <div class="bg"></div>

                <div>
                    <div class="logo">
                        <svg width="51" height="61" viewBox="0 0 51 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M35.9946 25.2267C38.3271 23.1294 39.3684 20.2572 37.8938 16.3324C35.8863 10.9667 30.6286 10.3959 24.4752 11.4809L22.4269 3.84096L17.7684 5.08919L19.7605 12.5289C18.5348 12.8573 17.2918 13.2161 16.0547 13.5743L14.0474 6.08731L9.39305 7.33398L11.4389 14.9726C10.4357 15.2634 9.45037 15.5484 8.48313 15.8076L8.47708 15.785L2.05085 17.5041L3.38242 22.4701C3.38242 22.4701 6.80529 21.4837 6.76542 21.5616C8.65198 21.0575 9.56092 21.9862 9.99101 22.8828L12.3247 31.5863L15.6006 43.8124C15.6763 44.4271 15.5805 45.4674 14.2621 45.8226C14.3362 45.8592 10.8732 46.73 10.8732 46.73L11.4372 52.5309L17.4985 50.9068C18.6283 50.6055 19.7427 50.3257 20.8337 50.0427L22.9081 57.7683L27.5616 56.5228L25.5116 48.8774C26.7988 48.5605 28.0375 48.2407 29.244 47.9157L31.2818 55.526L35.9401 54.2778L33.8758 46.5632C41.5859 44.016 46.54 40.5774 45.254 33.052C44.2193 26.993 40.7258 25.1008 35.9946 25.2267ZM17.6309 19.0115C20.2582 18.3075 28.2972 15.2581 29.7668 20.7381C31.1735 25.9925 22.7488 27.592 20.1188 28.2967L17.6309 19.0115V19.0115ZM24.116 43.2226L21.3748 32.9842C24.5313 32.1375 34.1894 28.5785 35.8047 34.6017C37.3539 40.3779 27.2741 42.3739 24.116 43.2226Z"
                                fill="white"/>
                        </svg>
                    </div>

                    <div class="title">
                        <h2>{{ $t('Bitgesell') }}</h2>

                        <p>{{ $t('Store of value') }}</p>
                    </div>
                </div>
            </div>

            <div class="right">
                <navigation :back-settings="backSettings" :show-language="true"/>

                <div class="content">
                    <slot/>
                </div>

                <div class="version">{{ $t('version 1.0.0') }}</div>
            </div>
        </div>

        <div class="menu">
            <div>
                <slot name="menu"/>
            </div>
        </div>

    </div>

</template>

<script>
    import Navigation from '../Common/Navigation'

    export default {
        name: 'SetupLayout',

        props: {
            backSettings: Object
        },

        components: {Navigation}
    }
</script>
