<template>

    <div class="simple">

        <div class="bg"></div>

        <div class="navigation">
            <div class="right">
                <div class="minimize" @click="$root.minimize()"></div>

                <div class="fullscreen" @click="$root.fullscreen()">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 1.06667C0 0.693298 0 0.506614 0.0726623 0.364006C0.136578 0.238565 0.238565 0.136578 0.364006 0.0726623C0.506614 0 0.693299 0 1.06667 0H2.31579C2.6646 0 2.94737 0.282768 2.94737 0.631579V0.631579C2.94737 0.98039 2.6646 1.26316 2.31579 1.26316H2.10526C1.94221 1.26316 1.86068 1.26316 1.79301 1.27735C1.53401 1.33165 1.33165 1.53401 1.27735 1.79301C1.26316 1.86068 1.26316 1.94221 1.26316 2.10526V2.31579C1.26316 2.6646 0.98039 2.94737 0.631579 2.94737V2.94737C0.282768 2.94737 0 2.6646 0 2.31579V1.06667ZM0 6.93333C0 7.3067 0 7.49339 0.0726623 7.63599C0.136578 7.76144 0.238565 7.86342 0.364006 7.92734C0.506614 8 0.693299 8 1.06667 8H2.31579C2.6646 8 2.94737 7.71723 2.94737 7.36842V7.36842C2.94737 7.01961 2.6646 6.73684 2.31579 6.73684H2.10526C1.94221 6.73684 1.86068 6.73684 1.79301 6.72265C1.53401 6.66835 1.33165 6.46599 1.27735 6.20699C1.26316 6.13932 1.26316 6.05779 1.26316 5.89474V5.68421C1.26316 5.3354 0.98039 5.05263 0.631579 5.05263V5.05263C0.282768 5.05263 0 5.3354 0 5.68421V6.93333ZM4.63158 0.631579C4.63158 0.282768 4.91435 0 5.26316 0H6.93333C7.3067 0 7.49339 0 7.63599 0.0726623C7.76144 0.136578 7.86342 0.238565 7.92734 0.364006C8 0.506614 8 0.693299 8 1.06667V2.22556C8 2.27676 8 2.30236 7.99859 2.32398C7.97686 2.65807 7.71071 2.92423 7.37661 2.94596C7.35499 2.94737 7.32939 2.94737 7.2782 2.94737V2.94737C7.227 2.94737 7.2014 2.94737 7.17978 2.94596C6.84568 2.92423 6.57953 2.65807 6.5578 2.32398C6.55639 2.30236 6.55639 2.27676 6.55639 2.22556V2.10526C6.55639 1.94221 6.55639 1.86068 6.5422 1.79301C6.4879 1.53401 6.28554 1.33165 6.02653 1.27735C5.95887 1.26316 5.87734 1.26316 5.71429 1.26316H5.26316C4.91435 1.26316 4.63158 0.98039 4.63158 0.631579V0.631579ZM8 6.93333C8 7.3067 8 7.49339 7.92734 7.63599C7.86342 7.76144 7.76144 7.86342 7.63599 7.92734C7.49339 8 7.3067 8 6.93333 8H5.68421C5.3354 8 5.05263 7.71723 5.05263 7.36842V7.36842C5.05263 7.01961 5.3354 6.73684 5.68421 6.73684H5.89474C6.05779 6.73684 6.13932 6.73684 6.20699 6.72265C6.46599 6.66835 6.66835 6.46599 6.72265 6.20699C6.73684 6.13932 6.73684 6.05779 6.73684 5.89474V5.68421C6.73684 5.3354 7.01961 5.05263 7.36842 5.05263V5.05263C7.71723 5.05263 8 5.3354 8 5.68421V6.93333Z"
                              fill="white"/>
                    </svg>
                </div>

                <div class="close" @click="$root.close()">
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4.95079 4.00002L7.80308 1.14772C8.06564 0.885164 8.06564 0.459475 7.80308 0.196956C7.54053 -0.0656018 7.11487 -0.0656018 6.85232 0.196956L3.99999 3.04929L1.14765 0.196918C0.885097 -0.0656393 0.459447 -0.0656393 0.19689 0.196918C-0.0656299 0.459475 -0.0656299 0.885164 0.19689 1.14768L3.04922 3.99998L0.19689 6.85232C-0.0656299 7.11487 -0.0656299 7.54056 0.19689 7.80308C0.459447 8.06564 0.885097 8.06564 1.14765 7.80308L3.99999 4.95075L6.85232 7.80308C7.11484 8.06564 7.54053 8.06564 7.80308 7.80308C8.06564 7.54052 8.06564 7.11487 7.80308 6.85232L4.95079 4.00002Z"
                              fill="white"/>
                    </svg>
                </div>
            </div>
        </div>

        <modal-layout :is-activated="true" :title="$t('Wallet exists')" @close="close">

            <div class="form">
                <div class="group input">
                    <input type="password" :placeholder="$t('Password to access')" style="border-radius: 3px 3px 0 0;"
                           v-model="password">
                </div>

                <div class="button" @click="login" style="margin-top: 2px;border-radius: 0 0 3px 3px;">{{ $t('Login') }}</div>
            </div>

        </modal-layout>

    </div>

</template>

<script>
    import ModalLayout from '../Layout/ModalLayout'

    export default {
        name: 'AccessToWallet',

        data() {
            return {
                password: ''
            }
        },

        methods: {
            close() {
                this.$root.openRoute()
            },

            login() {
                if (this.password !== '') {
                    try {
                        this.$store.commit('Wallet/setWalletBySeedAndPassword', this.password)

                        this.$router.push('/main')
                    } catch (e) {
                        this.$addNotification(this.$t('The password is incorrect'))
                    }
                } else {
                    this.$addNotification(this.$t('The field cannot be empty'))
                }
            },
        },

        components: {ModalLayout}
    }
</script>
