<template>

    <div>
        <setup-layout>

            <div class="title">{{ $t('Description') }}</div>

            <div class="text" v-html="$t('<p>Welcome to the application for creating wallets and making transactions.</p> <br> <p>Here your private keys are encrypted and stored locally.</p> <p>You can be sure in your funds and keys safety.</p> <p>If access to the wallet will be lost your funds can be recovered from a seed.</p> <br> <p>Remember: «Bitgesell — Future of Bitcoin and True store of value»</p> <p>..and this app makes it easy to use!</p>')"></div>

            <template #menu>
                <div>
                    <router-link to="/setup/wallet">
                        <span>{{ $t('Wallet') }}</span>
                    </router-link>
                </div>

                <div class="disabled">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next">
                    <router-link to="/setup/wallet">
                        <span>{{ $t('Next') }}</span>
                    </router-link>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    export default {
        name: 'Description',

        components: {SetupLayout}
    }
</script>
