<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('Extension Seed') }}</div>

            <div class="text" v-html="$t('<p>You can expand seed with custom words, but this is not your encryption password</p>')"></div>

            <div class="line"></div>

            <div class="form">
                <div class="group input">
                    <div class="label">{{ $t('Words') }}</div>

                    <input type="text" autocomplete="off" spellcheck="false" v-model="words"
                           @change="words = words.trim()">

                    <div class="message">{{ $t('Leave this field empty if you dont want use it') }}</div>
                </div>
            </div>

            <template #menu>
                <div @click="$root.openRoute({redirectPath: '/setup/wallet'})">
                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div @click="$root.openRoute({redirectPath: '/setup/keystore'})">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="is-activated">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    export default {
        name: 'ExtensionSeed',

        data() {
            return {
                words: '',

                other: {
                    backSettings: {
                        redirectPath: '/setup/generate-seed'
                    }
                }
            }
        },

        methods: {
            nextStep() {
                this.$store.commit('Wallet/passphrase', this.words)

                this.$router.push('/setup/password')
            }
        },

        mounted() {
            this.words = this.$store.state.Wallet.passphrase
        },

        components: {SetupLayout}
    }
</script>
