<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('Generated seed') }}</div>

            <div class="line"></div>

            <div class="text" v-html="$t('<p>Save these 12 words on paper, order is important. Take care of safety and dont give them to anyone! This seed will allow you to restore your wallet if you lose access.</p>')"></div>

            <div class="generated-seed">
                <div v-for="(seed, i) in seeds" :key="i">
                    {{ seed }}
                </div>
            </div>

            <div class="line"></div>

            <div class="group checkbox" style="padding-top: 10px;">
                <label>
                    <input type="checkbox" v-model="customWords">
                    <span class="check"/>

                    <i>{{ $t('Expand this seed with custom words') }}</i>
                </label>
            </div>

            <template #menu>
                <div @click="$root.openRoute({redirectPath: '/setup/wallet'})">
                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div @click="$root.openRoute(other.backSettings)">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="is-activated">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    export default {
        name: 'GenerateSeed',

        data() {
            return {
                customWords: false,

                other: {
                    backSettings: {
                        redirectPath: '/setup/keystore'
                    }
                }
            }
        },

        computed: {
            seeds() {
                return this.$store.state.Wallet.walletMnemonic.split(' ')
            }
        },

        methods: {
            nextStep() {
                if (this.customWords) {
                    this.$router.push('/setup/extension-seed')
                } else {
                    this.$router.push('/setup/password')
                }
            }
        },

        mounted() {
            this.customWords = !!this.$store.state.Wallet.passphrase
        },

        components: {SetupLayout}
    }
</script>
