<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('Insert seed') }}</div>

            <div class="text" v-html="$t('<p>Restore your wallet by the seed. If you expanded your seed with custom words, click on checkbox and insert them.</p>')"></div>

            <div class="line"></div>

            <div class="form">
                <div class="group textarea">
                    <div class="label">{{ $t('Insert seed') }}</div>

                    <textarea autocomplete="off" spellcheck="false"
                              v-model="seed" @change="seed = seed.trim()"
                              ></textarea>

                    <div class="message" v-if="validation">{{ validation }}</div>
                </div>

                <div class="line"></div>

                <div class="group checkbox">
                    <label>
                        <input type="checkbox" v-model="customWords">
                        <span class="check"></span>

                        <i>{{ $t('Expand this seed with custom words') }}</i>
                    </label>
                </div>
            </div>

            <template #menu>
                <div @click="$root.openRoute({redirectPath: '/setup/wallet'})">
                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div @click="$root.openRoute({redirectPath: '/setup/keystore'})">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="is-activated">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    import WalletService from '../../services/WalletService'

    export default {
        name: 'InsertSeed',

        data() {
            return {
                seed: '',
                customWords: false,
                error: true,

                other: {
                    backSettings: {
                        redirectPath: '/setup/keystore'
                    }
                }
            }
        },

        methods: {
            nextStep() {
                if (!this.error) {
                    this.$store.commit('Wallet/walletMnemonic', this.seed)

                    if (this.customWords) {
                        this.$router.push('/setup/extension-seed')
                    } else {
                        this.$router.push('/setup/password')
                    }
                } else {
                    this.$addNotification(this.validation)
                }
            }
        },

        computed: {
            validation() {
                // remove new lines
                this.seed = this.seed.replace(/\n/g, " ")

                // multiple spaces into one
                this.seed = this.seed.replace(/\s\s+/g, ' ')

                if (this.seed !== '') {
                    if (this.seed.match(/^[a-z\s]+$/)) {
                        if (this.seed.split(' ').length === 12) {
                            if (WalletService.validateSeed(this.seed)) {
                                this.error = false

                                return ''
                            } else {
                                this.error = true

                                return this.$t('Invalid seed')
                            }
                        } else {
                            this.error = true

                            return this.$t('Word count is incorrect')
                        }
                    } else {
                        this.error = true

                        return this.$t('Only lowercase letters of the English alphabet are allowed')
                    }
                } else {
                    this.error = true

                    return this.$t('The field cannot be empty')
                }
            }
        },

        components: {SetupLayout}
    }
</script>
