<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('Keystore') }}</div>

            <div class="text" v-html="$t('<p>Create a seed. This seed is important, because with this seed you can restore the wallet in case your PC crashes or something else.</p> <p>During this step, you can also restore an old seed.</p>')"></div>

            <div class="line"></div>

            <div class="form">
                <div class="group">
                    <div class="label">{{ $t('Choose one') }}</div>

                    <div class="select">
                        <div :class="{ 'is-activated' : selected === '/setup/generate-seed'}"
                             @click="selected = '/setup/generate-seed'">
                            {{ $t('Create a new seed') }}
                        </div>

                        <div :class="{ 'is-activated' : selected === '/setup/insert-seed'}"
                             @click="selected = '/setup/insert-seed'">
                            {{ $t('I have a seed') }}
                        </div>
                    </div>
                </div>
            </div>

            <template #menu>
                <div @click="$root.openRoute(other.backSettings)">
                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div class="is-activated">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    export default {
        name: 'Keystore',

        data() {
            return {
                selected: false,
                errorMessage: false,

                other: {
                    backSettings: {
                        redirectPath: '/setup/wallet'
                    }
                }
            }
        },

        methods: {
            nextStep() {
                if (this.selected) {
                    if (this.selected === '/setup/generate-seed') {
                        this.$store.commit('Wallet/generateMnemonic')
                    }

                    this.errorMessage = false

                    this.$router.push(this.selected)
                } else {
                    this.$addNotification(this.$t('Select required'))

                    this.errorMessage = true
                }
            }
        },

        components: {SetupLayout}
    }
</script>
