<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('Password') }}</div>

            <div class="text" v-html="$t('<p>Choose a password to encrypt your wallet keys</p>')"></div>

            <div class="line"></div>

            <div class="form">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="group input">
                            <div class="label">{{ $t('Password') }}</div>

                            <input type="password" autocomplete="off" spellcheck="false" v-model="password">

                            <div class="message" v-if="validation">{{ validation }}</div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="group input">
                            <div class="label">{{ $t('Confirm password') }}</div>

                            <input type="password" autocomplete="off" spellcheck="false" v-model="passwordConfirm">
                        </div>
                    </div>
                </div>
            </div>

            <template #menu>
                <div @click="$root.openRoute({redirectPath: '/setup/wallet'})">
                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div @click="$root.openRoute({redirectPath: '/setup/keystore'})">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div @click="$root.openRoute(other.backSettings)">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="is-activated">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="finish">
                    <span>{{ $t('Finish') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    export default {
        name: 'Password',

        data() {
            return {
                password: '',
                passwordConfirm: '',

                error: true,

                other: {
                    backSettings: {
                        back: true
                    }
                }
            }
        },

        methods: {
            finish() {
                if (!this.error) {
                    this.$store.commit('Wallet/setWalletByMnemonicAndPassword', this.password)

                    this.$addNotification(this.$t('Wallet is created'))

                    this.$router.push('/main')
                } else {
                    this.$addNotification(this.validation)
                }
            }
        },

        computed: {
            validation() {
                if (this.password === '' || this.passwordConfirm === '') {
                    this.error = true

                    return this.$t('All fields are required')
                } else {
                    if (this.password === this.passwordConfirm) {
                        this.error = false

                        return ''
                    } else {
                        this.error = true

                        return this.$t('Passwords do not match')
                    }
                }
            }
        },

        components: {SetupLayout}
    }
</script>
