<template>

    <div>
        <setup-layout :back-settings="other.backSettings">

            <div class="title">{{ $t('BGL Wallet') }}</div>

            <div class="text" v-html="$t('<p>Create a wallet and name it or select an existing.</p>')"></div>

            <div class="line"></div>

            <div class="form">
                <div class="group input">
                    <div class="label">{{ $t('Name') }}</div>

                    <div class="row">
                        <div class="col-xs-9">
                            <div class="dropdown">
                                <input type="text" :class="{ 'is-focus' : filteredWallets.length }" spellcheck="false"
                                       v-model="walletName"
                                       @focus="showWallets" @blur="hideWallets" @keyup="keyMonitor">

                                <div class="navs" v-if="other.showDropdown && filteredWallets.length">
                                    <div v-for="(wallet, i) in filteredWallets" :key="i"
                                         :class="{ 'is-activated' : ((wallet === selected) && !other.selectedFile) }"
                                         @mousedown="selectWallet(wallet)">
                                        {{ wallet }}
                                    </div>
                                </div>
                            </div>

                            <div class="message" v-if="validation">{{ validation }}</div>
                        </div>

                        <div class="col-xs-3">
                            <div class="file">
                                <label for="file">
                                    <div class="button">
                                        {{ !other.selectedFile ? $t('Select wallet') : $t('Change wallet') }}
                                    </div>
                                </label>

                                <input id="file" type="file" accept=".di" @change="remoteWallet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <template #menu>
                <div class="is-activated">
                    <span>{{ $t('Wallet') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Keystore') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Seed') }}</span>
                </div>

                <div class="disabled">
                    <span>{{ $t('Password') }}</span>
                </div>

                <div class="next" @click="nextStep">
                    <span>{{ $t('Next') }}</span>
                </div>
            </template>

        </setup-layout>
    </div>

</template>

<script>
    import SetupLayout from '../Layout/SetupLayout'

    import WalletService from '../../services/WalletService'

    import {ipcRenderer} from 'electron'

    export default {
        name: 'Wallet',

        data() {
            return {
                foundWallets: [],

                walletName: '',
                selected: '',

                error: true,

                other: {
                    backSettings: {
                        redirectPath: '/'
                    },

                    showDropdown: false,
                    createWallet: true,

                    selectedFile: '',
                    selectedFilePath: ''
                }
            }
        },

        methods: {
            remoteWallet(event) {
                let fileData = event.target.files[0]

                if (fileData) {
                    this.other.selectedFile = true
                    this.other.selectedFilePath = fileData.path

                    this.selected = fileData.name.replace('.di', '')
                    this.walletName = this.selected
                }
            },

            //////////////////////////////

            showWallets() {
                this.walletName = ''

                this.other.showDropdown = true
            },

            hideWallets() {
                if (this.walletName) {
                    this.selectWallet(this.walletName)

                    return
                }

                if (!this.selected) {
                    this.selected = ''
                    this.walletName = ''
                } else {
                    this.walletName = this.selected
                }

                this.other.showDropdown = false
            },

            selectWallet(wallet) {
                this.other.selectedFile = false
                this.other.selectedFilePath = ''

                this.selected = wallet
                this.walletName = this.selected

                this.other.showDropdown = false
            },

            keyMonitor(e) {
                if (e.key === 'Enter' && this.walletName) {
                    this.selectWallet(this.walletName)
                }
            },

            //////////////////////////////

            nextStep() {
                if (!this.error) {
                    this.$store.commit('Wallet/walletName', this.walletName)
                    this.$store.commit('Wallet/filePath', WalletService.createFilePath(this.walletName))

                    if (this.other.createWallet) {
                        this.$router.push('/setup/keystore')
                    } else {
                        try {
                            let wallet

                            if (this.other.selectedFile) {
                                wallet = WalletService.openRemoteWallet(this.other.selectedFilePath)

                                this.$store.commit('Wallet/walletName', this.selected)
                                this.$store.commit('Wallet/filePath', this.other.selectedFilePath)

                                this.$addNotification(this.$t('Opening a remote wallet'))
                            } else {
                                wallet = WalletService.openLocalWallet(this.walletName)

                                this.$addNotification(this.$t('Opening the local wallet'))
                            }

                            WalletService.readToStoreFromWalletData(this.$store, wallet)
                        } catch (e) {
                            this.$addNotification(this.$t('Parse error'))
                        }

                        this.$router.push('/setup/access-to-wallet')
                    }
                } else {
                    this.$addNotification(this.validation)
                }
            }
        },

        computed: {
            validation() {
                this.other.createWallet = true

                if (this.other.selectedFile) {
                    this.error = false
                    this.other.createWallet = false

                    return this.$t('Wallet file selected')
                } else {
                    if (this.walletName === '') {
                        this.error = true

                        return this.$t('Enter a name for the wallet')
                    }

                    if (this.walletName.match(/^[A-Za-z0-9]+$/)) {
                        if (this.walletName.length > 2) {
                            this.error = false

                            if (this.foundWallets.find(x => {
                                return x === this.walletName
                            })) {
                                this.other.createWallet = false

                                return this.$t('You selected an existing wallet')
                            } else {
                                return this.$t('Name is free to use for the new wallet')
                            }

                        } else {
                            this.error = true

                            return this.$t('Name is too short')
                        }
                    } else {
                        this.error = true

                        return this.$t('Use only letters of the English alphabet and numbers without spaces')
                    }
                }
            },

            filteredWallets() {
                let filtered = []

                for (let wallet of this.foundWallets) {
                    if (this.walletName.length < 2 || wallet.indexOf(this.walletName) >= 0) {
                        filtered.push(wallet)
                    }
                }

                return filtered
            }
        },

        mounted() {
            this.foundWallets = WalletService.getLocalWallets()

            this.selected = this.$store.state.Wallet.walletName
            this.walletName = this.$store.state.Wallet.walletName
        },

        components: {SetupLayout}
    }
</script>
