<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <% if (htmlWebpackPlugin.options.nodeModules) { %>
        <script>
            require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
        </script>
    <% } %>
</head>
<body>
    <div id="app"></div>

    <% if (!htmlWebpackPlugin.options.isBrowser && !htmlWebpackPlugin.options.isDevelopment) { %>
        <script>
            window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
        </script>
    <% } %>

    <!-- devinject.com -->
</body>
</html>
